html,body{
    height: 100%;
}

.homeBody{
    background-image: url(./images/bg.jpeg);
    /* background-repeat: no-repeat; */
    background-size: cover;
}
.redxlogo{
    max-height: 50px;
    min-height: auto;
}
/* 50 60 100 */
.sihlogo{
    max-height: 100px;
    min-height: 30px;
}

.welingkarlogo{
    max-height: 100px;
    min-height: auto;
}
.redxtext{
    display: inline-block;
    min-height: 1rem;
    max-height: 2rem;
    margin-top: 20px;
}

.logo_header{
    /* overflow: auto; */
    /* overflow-x: auto; */
    word-wrap: break-word;
    white-space: break-spaces;
}

.homeposter{
    max-width: 40%;
}
.modalposter{
    max-width: 100%;
}

.fullscreen{
    max-width: fit-content;
    max-height:fit-content;
}

.active{
    color: #478ac9 !important;
}

.italics{
    font-style: italic;
}

.nav-item{
    padding: 10px 20px
}